{% extends 'base.html' %} 
{% load sass_tags %} 

{% block title %}Home{% endblock title %} 

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'home/css/home.scss' %}" />
{% endblock extra_css %} 

{% block content %}

<section>
    <h1 class="home-title">Notes App</h1>
</section>

{% if request.user.is_authenticated %}
{% for note in notes %}
{% if note.user.id == user.id %}
<div>
    <a href="{% url 'update_note' note.id %}">
        <div>

            {{note.title}} 
        </div>
        <div>

            {{note.date}} 
        </div>
        <div>

            {{note.text|safe}}
        </div>
        <div>
            {{note.category}}
            {% for tag in note.tags.all %}
            {{tag}}
            {% endfor %}
        </div>    
        </a>
        <a href="{% url 'delete_note' note.id %}">x</a>
    </div>
    <hr/>
{% endif %}
{% endfor %}

<div class="button-container">
    <a href="{% url 'create_note' %}"><button class="btn btn__primary"><p>Add Note</p></button></a>
</div>

{% else %}

<p>Please Login to create and view your notes</p>


{% endif %}
{% endblock %}
