{% extends 'base.html' %} {% load sass_tags %} 

{% block title %}Notes - Signup{% endblock title %} 

{% block extra_css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% sass_src 'home/css/registration.scss' %}"
/>
{% endblock extra_css %} 

{% block content %}
<div class="container">
  <div class="form-box">
    <h1 class="title">SIGNUP</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="form">
        <div class="control">
          {{form.username}}
          <div class="control__icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <div class="signup-control">
          {{form.first_name}}
          <div class="control__icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <div class="signup-control">
          {{form.last_name}}
          <div class="control__icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <div class="signup-control">
          {{form.password1}}
          <div class="control__icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <div class="signup-control">
          {{form.password2}}
          <div class="control__icon">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
      </div>
      <button class="btn" type="submit" name="Create User">Register</button>
    </form>

    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}

    <div>Already have an account? <a href="{% url 'login' %}">Login</a></div>
  </div>
</div>

{% endblock content %}
