@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap");

:root {
  // colors
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  //   fonts
  --header: "Merriweather", serif;
  --regular: "Roboto", sans-serif;
}

$shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
  -0.2rem -0.2rem 0.5rem var(--white);
$inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
  inset -0.2rem -0.2rem 0.5rem var(--white);

html {
  box-sizing: border-box;
  background: var(--greyLight-1);
  font-family: var(--regular);
}

body {
    margin: 0 10px;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//   navbar

.main-navigation {
  position: fixed;
  margin: 20px;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--greyLight-1);
}

.icon {
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__home,
  &__user,
  &__plus {
    width: 2rem;
    height: 2rem;
    margin: 5px 0;
    border-radius: 50%;
    box-shadow: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;

    &:active {
      box-shadow: $inner-shadow;
      color: var(--primary);
    }
    &:hover {
      color: var(--primary);
    }
  }
}
