{% if request.user.is_authenticated %}
<nav class="main-navigation">
    <div class="icon">
        
        
        <a href="{% url 'home' %}"><div class="icon__home"><i class="fa-solid fa-house"></i></div></a>
        <a href="{% url 'create_note' %}"><div class="icon__plus"><i class="fa-solid fa-plus"></i></div></a>
        <a href="{% url 'login' %}"><div class="icon__user"><i class="fa-solid fa-user"></i></div></a>
        {% comment %} <div class="icon__plus"><a href="{% url 'create_note' %}"><i class="fa-solid fa-plus"></i></a></div>
        <div class="icon__plus"><a href="{% url 'logout' %}"><i class="fa-solid fa-user"></i></a></div> {% endcomment %}
        {% comment %} <div class="nav-item"><a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a></div> {% endcomment %}
        {% comment %} <div class="nav-item"><a href="{% url 'signup' %}">Signup</a></div> {% endcomment %}
        
        {% comment %} <span>Hello, {{request.user}}</span>
        <span><a href="{% url 'logout' %}"><i class="fa-regular fa-user"></i></a></span> {% endcomment %}
    </div>
</nav>
{% endif %}
