{% extends 'base.html' %}
{% load static %}

{% block title %}All Notes{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}">
{% endblock extra_css %}

{% block content %}
<form method="GET" action="">
    {{filter.form.as_p}}
    <button type="submit">Search</button>
</form>

<h1>Index Page</h1>
    {% for note in filter.qs %}
    {% if note.user.id == user.id %}
    <div>
        {{note.title}}
        {{note.date}}
        {{note.text|safe}}
    </div>    
    {% endif %}
    {% endfor %}
{% endblock content %}